@media (max-width: 800px) {
    header nav {
        display: none;
        position: absolute;
        top: 70px;
        width: 100%;
        z-index: 1;
        background-color: #232741;
       
    }

    header nav li {
        display: block;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;     
    }

    .menu-icon {
        display: block;
        color: #fff;
        font-size: 23px;
        margin-right: 30px;
        cursor: pointer;
    }
}


@media (min-width: 800px) {
        header nav {
        display: block !important;
    }

}